body {
    background-image: url(register.jpg);
    background-size: cover;
    height: 500px;
}

body::after {
    background-image: linear-gradient(to right, red, yellow);
}


.form-control {
    width: 100%;
    border: 0px;
    background: transparent;
    border-bottom: 2px solid #6a82fb;
    color: #fff;
}

.login-form {
    background: #2924247a;
    padding: 100px;
    border-radius: 50px;
    color: white;
}

.btn-primary {
    width: 50%;
    left: 50%;
    border-radius: 30px;
}