h2{
	color:chocolate;
	font-family: sans-serif;
    text-align: left;
    font-size: 40px;
}
h3{
    
	color: black;
    font-style: italic;
    text-align: left;
    font-size: medium;
}
.body{
    background-color: green;
}