body{
    background-color: white;
}

/* Header Navigasi Bar*/
header.top {
	background-color: #fafafada;
	-webkit-box-shadow: 0 8px 6px -8px #777;
	-moz-box-shadow: 0 8px 6px -8px #777;
    box-shadow: 0 8px 6px -8px #777;
    backdrop-filter: blur(5px);
}
header.top .topmenu {
	margin-bottom: 0;
}
header.top .topmenu li {
	display: inline-block;
	padding: 10px 22px;
	font-size: 1.9rem;
}

@media (max-width: 768px) {
	header.top {
		padding-top: 15px;
		padding-bottom: 9px;
	}
	header.top .search-bar form .search-input {
		width: 90%;
		font-size: 1.3rem;
	}
	header.top .logo img {
		max-height: 50px;
	}
}
@media (max-width: 350px) {
	header.top .logo img {
		height: 45px;
		max-height: 45px;
		object-fit: cover;
	}
	header.top .topmenu li.btn-menu a {
		font-size: 13px;
	}
}

@media (max-width: 575.98px) {
	header.top .topmenu li.btn-menu {
		padding-right: 10px;
		float: right;
	}
	header.top .topmenu li.btn-menu a {
		min-width: 90px;
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	header.top .topmenu li.btn-menu {
		padding: 0 39px 0 0;
	}
}
header.top .topmenu li.search {
	width: 48px;
	height: 48px;
	line-height: 44px;
	text-align: center;
	padding: 0;
	margin-right: 39px;
}
header.top .topmenu li a {
	color: #000;
	display: block;
	text-decoration: none;
}
header.top .topmenu li.search a:hover {
	color: #cf0000;
	border-bottom: none;
}
header.top .search-bar {
	display: none;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fafafa;
	text-align: center;
}
header.top .search-bar form {
	margin-top: 0;
	width: 100%;
	height: 100%;
}
.top .search-bar form .search-input {
	width: 480px;
	font-size: 1.4rem;
	color: #000;
	font-weight: 600;
	border-radius: 0;
	padding-bottom: 0;
}
header.top .search-bar form .search-input,
header.top .search-bar form button {
	height: 60%;
}
header.top .search-bar form .search-input:-ms-input-placeholder {
	opacity: 1;
	color: #c8caca;
}
header.top .search-bar form button {
	width: 4rem;
	font-size: 2rem;
	background: none;
	border: 0;
}
.search-input,
.search-input:focus {
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
@media (max-width: 992px) and (min-width: 768px) {
	header.top .search-bar form button {
		margin-left: 15px;
	}
	header.top .logo {
		margin-top: 9px;
	}
	header.top .search-bar form .search-input {
		width: 100%;
		max-width: 400px;
	}
}
@media (min-width: 992px) {
	header.top .topmenu li.btn-menu a {
		font-size: 20px;
		height: 44px;
		line-height: 42px;
	}
	header.top .topmenu li.search {
		height: 44px;
		line-height: 42px;
		margin-right: 0;
	}
	header.top .topmenu li {
		font-size: 18px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		padding: 10px;
	}
}
@media (max-width: 360px) {
	header.top .search-bar form .search-input {
		font-size: 1rem;
	}
}
@media (max-width: 992px) {
	header.top .topmenu li {
		display: none;
	}
	header.top .topmenu li.search {
		display: inline-block;
		margin-right: 1rem;
		line-height: 2rem;
	}
	.topmenu .search .fa-lg {
		font-size: 1em;
	}
}
.nav-sidenav li.nav-item {
	font-size: 1rem;
}
.col-md-10 {
	margin: 0 auto;
	align-items: center;
}
.container {
	align-items: center;
	min-height: 72px;
}
header.top .topmenu li a:hover {
	border-bottom: 2px solid #cf0000;
}
/* FontAwesome */

.fas {
	font-family: FontAwesome;
	font-style: normal;
}
.fa-search {
	bottom: 0;
	position: absolute;
	right: 10%;
}
.fa-search,
button {
	cursor: pointer;
}
.search-bar .fa-search,
.topmenu .search i {
	position: relative;
}
/* akhir header navigasi bar*/

/* untuk senter tulisan banner */
.parallax {
    /* The image used */
    background-image: url(img/banner.jpg);
    position: relative;
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.center {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    }



/* untuk button outline atau border */
    .btn {
        border: 1px solid black;
        background-color: white;
        color: black;
        padding: 8px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      /* warna krem */
      .krem {
        border-color: #4e1c1b;
        background-color: #fdfcf6;
        color: #4e1c1b;
      }
      
      .krem:hover {
        background-color: #4e1c1b;
        color: white;
      }
      
      .bagikan {
        border-color: #4e1c1b;
        background-color: #FFFFF5;
        color: #4e1c1b;
        padding-left: 15px;
        padding-right: 15px;
        height: 45px;
        width: 45px;
      }
      
      .bagikan:hover {
        background-color: #4e1c1b;
        color: white;
      }



/* Untuk frame gambar full samping*/
    .fullsamping{
        position: relative;
        padding: 0px;
        overflow: hidden;
    }

/* Untuk Frame Galeri gambar-gambar produk*/
    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 1em;
        max-width: 1000px;
        list-style: none;
        text-align: center;
    }
    
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 320px;
        max-width: 550px; /* ukuran lebar figure gambar*/
        max-height: 550px; /* ukuran tinggi figure gambar*/
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    
    .grid figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
    }
    
    .grid figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }
    
    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .grid figure figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
    
    .grid figure h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        /* background: rgba(0, 0, 0, 0.300); */
    }
    
    .grid figure h2 span {
        font-weight: 800;
    }
    
    .grid figure h2,
    .grid figure p {
        margin: 0;
    }
    
    .grid figure p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }
    
    /***** Milo *****/
    
    figure.effect-milo {
        background: #474701;
    }
    
    figure.effect-milo img {
        position: relative;
        opacity: 1;
        -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
        transition: opacity 0.7s, transform 0.7s;
        
        
    }
    
    figure.effect-milo:hover img {
        opacity: 0.7;
        transform: scale(1.1);
    }
    
    figure.effect-milo h2 {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1em 1.2em;
    }
    
    figure.effect-milo p {
        padding: 0 10px 0 0;
        width: 50%;
        border-right: 1px solid #fff;
        text-align: right;
        opacity: 0;
        -webkit-transition: opacity 0.70s, -webkit-transform 0.70s;
        transition: opacity 0.70s, transform 0.70s;
        -webkit-transform: translate3d(-40px,0,0);
        transform: translate3d(-40px,0,0);
    }
    
    figure.effect-milo:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    
    @media screen and (max-width: 50em) {
        .content {
            padding: 0 10px;
            text-align: center;
        }
        .grid figure {
            display: inline-block;
            float: none;
            margin: 10px auto;
            width: 100%;
        }
    } 
    /* Akhir coding frame galery foto produk */
 
