body {
    background-image: url("login.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    position: relative;
}


/* body::after {
    content: '';
    display: block;
    background-image: linear-gradient(-15deg, #A03FD8, #3BB4C2);
    position: absolute;
} */

.login-form {
    background: #1a11117a;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    color: rgb(94, 94, 94);

}

.login-form .input-container {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
    padding-bottom: 5px;
}

.login-form .input {
    border: 0;
    width: 200px;
}

.login-form .input:focus {
    outline: none;
}

#show-password {
    float: right;
    vertical-align: bottom;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}

.login-form .forgot-password {
    float: right;
}

.login-form .rememberme-container {
    margin-top: 15px;
    padding: 0;
}

.login-form .rememberme-container input {
    margin-left: 0;
}

.login-form .rememberme span {
    vertical-align: top;
}

.login-form .button {
    margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background .3s;
}

.login-form .button:hover {
    background: #1f6eb7;
}

.login-form .button:focus {
    outline: none;
}

.login-form .register {
    margin-top: 5px;
    background: #CCCCCC;
    border: 0;
    color: #676464;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
}

.login-form .register:hover {
    background: #b7b7b7;
}

.login-heading {
    text-align: center;
    margin-top: 20px;
}

.container {
    background: #09090a4f;
}

.btn-primary {
    width: 100%;
}