table{
    border-collapse: collapse;
    border: 1.5px solid black;
}
.button{
    background-color: rgb(21, 95, 233);
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.monospace{
    font-family: "Times New Roman", Courier, monospace;
}
body{
    background-color: #07a6ac;
}
input[type=text],[type="password"], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}